@charset "utf-8";
/* CSS Document */

.round-button {
	width:25%;
}
.round-button-circle {
	width: 30%;
	height:25%;
   
	margin-left:20px;
    overflow:hidden;
    
   background:url(documentation/plus.png) no-repeat;
   
  
}

.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

